<div class="sub-page-title">Description</div>
<div class="main-content">
    <div class="font-size-26">This is an interview project for FreshWorks Studio at Victoria, BC, Canada.</div>
    <div class="spacer"></div>
    <div class="spacer"></div>
    <img width="1000" height="640" alt="Feed Duck" src="assets/images/duck_feed_1.jpeg"/>

    <div class="spacer"></div>

    <div class="font-size-24 font-bold">Requirement:</div>

    <div class="spacer"></div>

    <div class="font-size-24">A scientist is trying to understand how ducks are being fed in parks around the world. She wants to collect the following information:</div>
    <ul>
        <li class="member font-size-24">What time the ducks are fed</li>
        <li class="member font-size-24">What food the ducks are fed</li>
        <li class="member font-size-24">Where the ducks are fed</li>
        <li class="member font-size-24">How many ducks are fed</li>
        <li class="member font-size-24">How much food the ducks are fed</li>
    </ul>

    <div class="spacer"></div>

    <div class="font-size-24 font-bold">Tech Stacks:</div>

    <ul>
        <li class="member font-size-24">Frontend: Angular</li>
        <li class="member font-size-24">Backend: .Net Core</li>
        <li class="member font-size-24">Database: SQL Server</li>
        <li class="member font-size-24">Deployed on Microsoft Azure</li>
    </ul>

    

    
</div>