/* You can add global styles to this file, and also import other style files */

.main-container{
    height: 800px;
    width: 1300px;
    background-color: white;
}

.sub-page-title{
    text-align: center;
    font-size: large;
    font-weight: bold;
    font-size: 30px;
}

.project-title{
    font-size: 24px;
}

.nav-sub-title{
    color: white;
    margin-left: 20px;
    margin-right: 20px;
}

.member{
    margin-left: 50px;
}

.font-size-20{
    font-size: 20px;
}

.font-size-22{
    font-size: 22px;
}

.font-size-24{
    font-size: 24px;
}

.font-size-26{
    font-size: 26px;
}

.font-size-28{
    font-size: 28px;
}

.font-bold{
    font-weight: bold;
}

.spacer {
    margin-top: 20px;
}

.fixed-footer{
    position:fixed;
    bottom:10px;
    width:100%;
}

.box-inline{
    margin: 1rem;
    padding: 2rem 2rem;
}

.left-section{
    display: inline-block;
    padding: 1rem 1rem;
    vertical-align: middle;
    width: 55%;
    /* border: 1px black solid; */
}

.right-section{
    display: inline-block;
    /* padding: 1rem 1rem; */
    vertical-align: middle;
    width: 40%;
    /* border: 1px black solid; */
}

.map{
    width: 100%;
    height: 50vh;
}

.label-font{
    font-size: large;
    font-weight: 400;
    font-size: 20px;
}

.btn-font{
    font-size: large;
    font-weight: 400;
    font-size: 12px;
}
